@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.card-button {
    border: 0;
    border: 2px solid;
    background-color: black;
    color: white;
    padding: .50rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.card-button:hover{
    background-color: white;
    color: black;
}

/* CARRITO */

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ghostwhite;
    color: black;
    padding: 5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
}